.about{
	padding: 3rem 0;
	// height: 100vh;
	display: flex;
	align-items: center;
	color: $White;
	margin-bottom: 4rem;
	.about-center {
		padding-top: 2rem;
		.about-section{
			display: flex;
			.description{
				flex-basis:  75%;
				padding-top:  2rem ;
				padding-right: 2rem;
				p{
					margin-bottom: $Small-margin;
				}
				.tecnologies{
					display: flex;
					flex-wrap: wrap;
					.technologie{
						flex-basis: 50%;
						display: flex;
						align-items: flex-end;
						padding: .5rem 0;
						font-size: 1rem;
						.tech-icon{
							color: $Green;
							font-size: 1.2rem;
						}
						h3{
							font-family: $Ftitilium;
							margin-left: 10px;
							color: $Lightest-Slate;
							margin-bottom: 0;
							cursor: pointer;
							&:hover{
								color: $Green;
							}
						}
					}
				}
			}
			.img-container{
				flex-basis:  25%;
				padding-top: 2rem;
				.personal{
					max-width: 100%;
					border: 1px solid $Green;
					padding: .5rem;
				}
			}
		}
		
	}
}

@media (max-width: 768px) {
	.about{
		.about-center {
			.about-section{
				flex-direction: column-reverse;
				.description{
					flex-basis:  70%;
					padding-top: 1rem;
				}
				.img-container{
					flex-basis:  30%;
					padding: 0;
					.personal{
						max-width: 50%;
					}
				}
			}
		}
	}
}