.about{
	// padding: 3rem 0;
	// height: 100vh;
	display: flex;
	align-items: center;
	color: $White;
	margin-bottom: 4rem;
	.about-center {
		padding-top: 2rem;
		.about-section{
			display: flex;
			.description{
				flex-basis:  75%;
				// padding-top:  2rem ;
				padding-right: 2rem;
				p{
					margin-bottom: .5rem;
				}
				.tecnologies{
					display: flex;
					flex-wrap: wrap;
					.technologie{
						flex-basis: 50%;
						display: flex;
						align-items: flex-end;
						padding: .5rem 0;
						font-size: 1rem;
						.tech-icon{
							font-size: 1.3rem;
							fill : $Green;
						}
						h3{
							font-family: $Ftitilium;
							margin-left: 10px;
							color: $Lightest-Slate;
							margin-bottom: 0;
							cursor: pointer;
							&:hover{
								color: $Green;
							}
						}
					}
				}
			}
			.img-container{
				flex-basis:  25%;
				.personal{
					max-width: 100%;
					border: 1px solid $Green;
					padding: .5rem;
					position: relative;
					&::after{
						content:'kkk';
						background: red;
						height: 100px;
						width: 100px;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 200;
					}
				}
			}
		}
		
	}
}

@media (max-width: 768px) {
	.about{
		.about-center {
			.about-section{
				flex-direction: column-reverse;
				.description{
					flex-basis:  70%;
					padding-top: 1rem;
					padding-right: unset;
				}
				.img-container{
					flex-basis:  30%;
					padding: 0;
					.personal{
						max-width: 40%;
					}
				}
			}
		}
	}
}