.home-center{
	height: 100vh;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	.img-container{
		flex-basis: 30%;
		position: relative;
		.home-picture{
			padding: .5rem;
			max-width: 100%;
			border: 1px solid $Green;
		}
	}
	.description{
		flex-basis: 70%;
		padding: 0 2rem;
		.greeting{
			color: $Green;
			font-family: $Ftitilium;
			margin-bottom: $Small-margin;
		}
		.name{
			color: $White;
			font-size: 3rem;
			margin-bottom: $Small-margin;
		}
		.title{
			color: $blue;
			font-size: 2.5rem;
			margin-bottom: $Small-margin;
		}
		.school{
			color: $Green;
		}
		p{
			color: $Lightest-Slate;
			margin-bottom: $Small-margin;
		}
		.resume{
			border: 1px solid $Green;
			max-width: fit-content;
			padding: .5rem;
			border-radius: 5px;
			transition: background ease-in-out 300ms;
			&:hover{
				background: #64ffdb10;
				
			}
		}
	}
}

@media (max-width: 900px) {
	.home-center{
		flex-direction: column;
		justify-content: center;
		height: unset;
		.img-container{
			padding-top: 2rem;
			margin-bottom: $Small-margin;
			.home-picture{
				max-width: 40%;
			}
		}
		.description{
			flex-basis: unset;
			padding: unset;
			.name{
				font-size: 2rem;
				margin-bottom: unset;
			}
			.title{
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

			p{
				font-size: 1rem;
			}
		}
	}
}
@media (max-width: 650px) {
	.home-center{
		.img-container{
			.home-picture{
				max-width: 60%;
			}
		}
	}
}