.home-center{
	height: 100vh;
	display: flex;
	align-items: center;
	.img-container{
		flex-basis: 30%;
		position: relative;
		.home-picture{
			padding: 1rem;
			max-width: 100%;
			border: 1px solid $Green;
		}
	}
	.description{
		flex-basis: 70%;
		padding: 0 2rem;
		.greeting{
			color: $Green;
			font-family: $Ftitilium;
			margin-bottom: $Small-margin;
		}
		.name{
			color: $White;
			font-size: 4rem;
			margin-bottom: $Small-margin;
		}
		.title{
			color: $Slate;
			font-size: 3rem;
			margin-bottom: $Small-margin;
		}
		.school{
			color: $Green;
		}
		p{
			color: $Light-Slate;
			font-size: 1.2rem;
			margin-bottom: $Small-margin;
		}
	}
}

@media (max-width: 900px) {
	.home-center{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.img-container{
			padding-top: 3rem;
			margin-bottom: $Small-margin;
			.home-picture{
				max-width: 40%;
			}
		}
		.description{
			flex-basis: unset;
			padding: unset;
			.greeting{
				color: $Green;
				font-family: $Ftitilium;
				margin-bottom: $Small-margin;
			}
			.name{
				color: $White;
				font-size: 2rem;
				margin-bottom: $Small-margin;
			}
			.title{
				color: $Slate;
				font-size: 1.5rem;
				margin-bottom: $Small-margin;
			}
			.school{
				color: $Green;
			}
			p{
				color: $Light-Slate;
				font-size: 1rem;
				margin-bottom: $Small-margin;
			}
		}
	}
}
@media (max-width: 650px) {
	.home-center{
		.img-container{
			.home-picture{
				max-width: 60%;
			}
		}
	}
}