.works{
	// height: 100vh;
	.work-grid{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 3rem;
		padding-bottom: 5rem;
		justify-items: center;

		.work{
			// max-width: 300px;
			position: relative;
			overflow: hidden;
			border-radius: 15px;
			transform: scale(1);
			transition: transform 300ms ease-in-out;
			cursor: pointer;
			.img-container{
				width : 300px;
				height: 300px;
				img{
					max-width: 100%;
				}
			}
			.work-text{
				position: absolute;
				width: 100%;
				height: 70%;
				padding:  1rem;
				padding-top: 3rem;
				background: rgb(7,18,34);
				background: linear-gradient(
					0deg, rgba(7,18,34,1) 0%,
					rgba(14,28,52,0.4372516286644951) 80%, 
					rgba(30,46,73,0) 100%);
				bottom: 0;
				left: 0;
				transform: translateY(55%);
				transition: transform 300ms ease-in-out;
				h3{
					height: 35%;
					// color: $Green;
					font-family: $Ftitilium;
					position: relative;
					width: max-content;
					&::after{
						content: '';
						background-color: $Green;
						width: calc(100% + 1rem) ;
						height: 2px;
						position: absolute;
						bottom: 20px;
						left: -1rem;
						transform: translateX(-101%);
						transition: transform 450ms ease-in-out;
					}
				}
				a{
					margin-right: .7rem;
					font-size: 1.2rem;
				}
			}
			&:hover {
				transform: scale(1.05);
			}
			&:hover .work-text{
				transform: translateY(0%);
			}
			&:hover .work-text h3::after{
				transform: translateX(0%);
			}
		}
	}
}