
@import "./navbar";
@import "./sidebar";
@import "./about";
@import "./home";
@import "./social-icon";
@import "./works";
@import "./contact";
@import "./variables";

html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: $White;
}

body{
	background-color: $Navy;
}

p, a {
	font-family: $Ftitilium;
	letter-spacing: 1px;
	color: $Lightest-Slate;
	font-size: 1.1rem;
}

@media (max-width: 768px) {
	p{
		font-size: 1rem;
	}
}
.container{
	width: 80%;
	margin: 0 auto;
}
@media (min-width: 1200px) {
	.container{
		width: 1200px;
		padding:  0 2rem;
		// background-color: aliceblue;
	}
}
@media (max-width: 1200px) {
	.container{
		width: 100%;
		padding:  0 3.5rem;
	}
}
@media (max-width: 768px) {
	.container{
		padding:  0 2rem;
	}
}
@media (max-width: 568px) {
	.container{
		padding:  0 1rem;
	}
}

.section-title{
	margin-bottom: $Small-margin;
	display: flex;
	align-items: center;
	h1{
		font-size: 3rem;
		margin-right: 1rem;
		color: $Lightest-Slate;
		font-family: $Ftitilium;
		font-size: 700;
	}
	.line{
		width: 100px;
		height: 1px;
		background-color: $Lightest-Slate;
	}
}

@media (max-width: 768px) {
	.section-title{
		h1{
			font-size: 2rem;
		}
	}
}

// styling the footer 

.footer{
	.footer-text{
		display: flex;
		align-items: center;
		justify-content: center;
		.heart{
			margin: 0 7px;
			fill: $Green;
		}
		p{
			fill: $Light-Navy;
			color: $Green;
		}
	}
	.footer-icons{
		display: flex;
		align-items: center;
		justify-content: center;
		.footer-icon{
			margin-right: .5rem;
			fill: $Green;
		}
	}
}

@media (min-width: 768px) {
	.footer{
		.footer-icons{
			display: none;
		}
	}
}

// Scroll fade-in animation style 
.reveal{
	position: relative;
	transform: translateY(100px);
	opacity: 0;
	transition: all ease-in-out 700ms;
}

.reveal.active{
	transform: translateY(0px);
	opacity: 1;

}